<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.solomode.kinerjareport">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".DatabaseSetup.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity.SplashActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity.MainActivity" />
        <activity
            android:name=".InsertActivity.InsertActivity"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".UpdateActivity.UpdateActivity"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"
            tools:ignore="InnerclassSeparator" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ExportActivity.ExportActivity"></activity>
    </application>

</manifest>